<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.heroratingapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/five"
        android:label="@string/capture_a_pokemon"
        android:roundIcon="@drawable/five"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Gamemenu" />
        <activity android:name=".Game1screen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>